/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: October 2024
*/


/* 
  **** Specs ****
  
  h1 - 16px to 24px 
  output pw - ?
  character length label - ?
  character length number - ?
  checkbox squares - 20px x 20px
  checkbox labels - ?
  strength - 16px to ?
  button text - ?
*/

/* Custom Variables */
:root {
  
  /* Fonts */
  --ff-primary: "JetBrains Mono", serif;
  /* Font Sizes */
  --fs-400: 1rem;
  --fs-450: 18px;
  --fs-500: 24px;
  --fs700: 32px;
  /* Colors */
  --clr--very-dark-gray: hsl(248, 15%, 11%);
  --clr-dark-gray: hsl(248, 10%, 15%);
  --clr-blue-gray: hsl(251, 9%, 53%);
  --clr-almost-white: hsl(252, 11%, 91%);
  --clr-neon-green: hsl(127, 100%, 82%);
  --clr-red: hsl(0, 91%, 63%);
  --clr-orange: hsl(13, 95%, 66%);
  --clr-yellow: hsl(42, 91%, 68%);
  /* spacing */
  --spacing-100: 1rem;
  --spacing-150: 1.5rem;

}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* Base Styles */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  background: var(--clr--very-dark-gray);
  color: var(--clr-almost-white);
}

header {
  padding-block: var(--spacing-100);
}

.title {
  margin: 0;
  /* margin-bottom: var(--spacing-100); */
  font-size: var(--fs-400);
  font-size: clamp(1rem, 0.8239rem + 0.75117vw, 1.5rem);
}

/* Components */
.btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 220ms all ease-in-out;
}

@media screen and (-ms-high-contrast: active) {
  .btn {
    border: 2px solid currentcolor;
  }
}
.copy-btn {

}

.copy-btn:hover svg path, 
.copy-btn:focus svg path {
	fill: var(--clr-almost-white);
}

.generate-btn {

  min-width: 10ch;
  min-height: 44px;
  width: 100%;
  background: var(--clr-neon-green);
  text-transform: uppercase;
  font-weight: 700;
  gap: var(--spacing-100);

}

.generate-btn:hover,
.generate-btn:focus-within {
  background: transparent;
  color: var(--clr-neon-green);
  border: 2px solid var(--clr-neon-green);

}

.generate-btn:hover svg path, 
.generate-btn:focus svg path {
	fill: var(--clr-neon-green)
}

/* App styles */
.pw-app {
  margin-inline: var(--spacing-100);
  max-width: 33.75rem;
}

.password-output,
.password-form {
  padding: var(--spacing-100);
  background: var(--clr-dark-gray);
}

.password-output {
  margin-bottom: var(--spacing-100);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.length-slider-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: var(--spacing-100);
}

.length-range-output {
  line-height: 1.1;
}

.length-range-input {
  grid-column: span 2;
}

/* Style range slider */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  position: relative;
  background: var(--clr--very-dark-gray);
  height: 8px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   position: relative;
   background-color: var(--clr-almost-white);
   height: 28px;
   width: 28px;
   border-radius: 50%;
   top: 50%;
   translate: 0 -50%;
}

input[type="range"]:focus::-webkit-slider-thumb {   
  border: 1px solid var(--clr-neon-green);
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem; 
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: var(--clr--very-dark-gray);
  height: 8px;
  position: relative;
}

input[type="range"]::-moz-range-progress {
  background: var(--clr-neon-green);
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
   border: none;
   background-color: var(--clr-almost-white);
   height: 28px;
   width: 28px;
   border-radius: 50%;
}

input[type="range"]:hover::-moz-range-thumb {
  border: 2px solid var(--clr-neon-green);
  background: var(--clr--very-dark-gray);
  /* outline: 3px solid #053a5f;
  outline-offset: 0.125rem;  */
}





/* Character options checklist */
.char-options-container {
  margin: 0;
  padding: 0;
  border: none;
  
}
